.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-message {
  margin-bottom: 20px;
}

.client-td {
  text-align: center;
}

.action-column {
  width: 200px;
  min-width: 200px;
  white-space: nowrap;
}

.action-column .flex {
    flex-wrap: nowrap;
    gap: 4px;
}

.action-column button {
    margin-left: 2px;
    margin-right: 2px;
    flex-shrink: 0;
}

::ng-deep .add-button {
  margin-top: 10px;
}

::ng-deep .clear-button {
  margin-top: 10px;
}