@if(workouts.length === 0){
    <app-spinner></app-spinner>
}
@else {
    <div class="table-container">
    <p-table
        [value]="workouts"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '1000px' , 'table-layout': 'fixed' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 20, 30]"
    >
        <ng-template #header>
            <div class="mb-4">
                <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
            </div>
            <tr>
                <th pSortableColumn="workoutTitle" style="width:22%">
                    Workout Title <p-sortIcon field="workoutTitle" />
                </th>
                 <th pSortableColumn="clientName" style="width:16%">
                    Client Name <p-sortIcon field="clientName" />
                </th>
                 <th pSortableColumn="currentBlockSession" style="width:16%">
                    Current Session <p-sortIcon field="currentBlockSession" />
                </th>
                 <th pSortableColumn="totalBlockSessions" style="width:16%">
                    Total Sessions <p-sortIcon field="totalBlockSessions" />
                </th>
                 <th pSortableColumn="sessionDate" style="width:15%">
                    Session Date <p-sortIcon field="sessionDate" />
                </th>
                 <th pSortableColumn="exerciseCount" style="width:15%">
                    Exercises <p-sortIcon field="exerciseCount" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-workout>
            <tr>
                <td>{{ workout.workoutTitle }}</td>
                <td>{{ workout.clientName }}</td>
                <td>{{ workout.currentBlockSession }}</td>
                <td>{{ workout.totalBlockSessions }}</td>
                <td>{{ workout.sessionDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ workout.exerciseCount }}</td>
            </tr>
        </ng-template>
        
    </p-table>
</div>

}
