.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-inputtext {
    max-width: 135px;
}

.exercise-count-input {
    max-width: 80px;
}

.workout-td {
    text-align: center;
}

.header-buttons {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}