@if(workouts === null){
    <app-spinner></app-spinner>
}
@else {
    <p-toast />
    <div class="table-container">
    <p-table
        [value]="workouts"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'width': '1000px' , 'table-layout': 'fixed' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 20, 30]"
    >
        <ng-template #header>
            <div class="card flex justify-center">
                <p-button icon="pi pi-plus" (click)="showDialogForAdd()" severity="secondary" label="Add Workout" />
                <p-dialog header="Add new Workout" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem', height: 'auto'}" >
                    <span class="p-text-secondary block mb-8">Enter new workout details:</span>
                    <div class="flex items-center gap-4 mb-4">
                        <label for="workout-title" class="font-semibold w-24">Workout Title</label>
                        <input pInputText id="workout-title" [(ngModel)]="workoutTitle" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex items-center gap-4 mb-8">
                        <label for="client-name" class="font-semibold w-24">Client Name</label>
                        <p-autocomplete [appendTo]="'body'" [(ngModel)]="selectedClient" [dropdown]="true" [suggestions]="clients" optionLabel="name" (onDropdownClick)="gatherClientNames()" />
                    </div>
                    <div class="flex items-center gap-4 mb-8">
                        <label for="workout-date" class="font-semibold w-24">Session Date</label>
                        <p-datepicker [appendTo]="'body'" [(ngModel)]="sessionDate" dateFormat="dd/mm/yy" />
                    </div>
                    <div class="flex items-center gap-4 mb-8">
                        <label for="exercise-count" class="font-semibold w-24">Exercise Count</label>
                        <p-inputnumber inputId="exercise-count" [(ngModel)]="exerciseCount" id="exercise-count" class="flex-auto" autocomplete="off" />
                    </div>
                    <div class="flex justify-end gap-2">
                        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
                        <p-button label="Save" (click)="addNewWorkout(selectedClient, workoutTitle, sessionDate, exerciseCount)" />
                    </div>
                </p-dialog>
            </div>
            <div class="mb-4">
                <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
                <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
                <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
            </div>
            <tr>
                <th pSortableColumn="workoutTitle" style="width:22%">
                    Workout Title <p-sortIcon field="workoutTitle" />
                </th>
                 <th pSortableColumn="clientName" style="width:16%">
                    Client Name <p-sortIcon field="clientName" />
                </th>
                 <th pSortableColumn="currentBlockSession" style="width:16%">
                    Current Session <p-sortIcon field="currentBlockSession" />
                </th>
                 <th pSortableColumn="totalBlockSessions" style="width:16%">
                    Total Sessions <p-sortIcon field="totalBlockSessions" />
                </th>
                 <th pSortableColumn="sessionDate" style="width:15%">
                    Session Date <p-sortIcon field="sessionDate" />
                </th>
                 <th pSortableColumn="exerciseCount" style="width:15%">
                    Exercises <p-sortIcon field="exerciseCount" />
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-workout>
            <tr [pEditableRow]="workout">
                <!-- <td>{{ workout.workoutTitle }}</td> -->
                <td>
                <p-cellEditor>
                    <ng-template #input>
                        <input
                            pInputText type="text"
                            [(ngModel)]= "workout.workoutTitle" />
                    </ng-template>
                    <ng-template #output>
                        {{workout.workoutTitle}}
                    </ng-template>
                </p-cellEditor>
              </td>
                <td>{{ workout.clientName }}</td>
                <td>{{ workout.currentBlockSession }}</td>
                <td>{{ workout.totalBlockSessions }}</td>
                <td>{{ workout.sessionDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ workout.exerciseCount }}</td>
                <td>
                <div class="flex items-center justify-center gap-2">
                    <button
                        *ngIf="!editing"
                        pButton
                        pRipple
                        type="button"
                        pInitEditableRow
                        icon="pi pi-pencil"
                        (click)="onRowEditInit(client)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                    <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pSaveEditableRow
                        icon="pi pi-check"
                        (click)="onRowEditSave(client)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                    <button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-times"
                        (click)="onRowEditCancel(client, ri)"
                        text
                        rounded
                        severity="secondary"
                    ></button>
                    <div class="card flex justify-center">
                      <p-button
                        *ngIf="editing"
                        pButton
                        pRipple
                        type="button"
                        pCancelEditableRow
                        icon="pi pi-trash"
                        (click)="showDialogForDelete()"
                        text
                        rounded
                        severity="secondary"
                    ></p-button>
                      <p-dialog header="Delete Client" [modal]="true" [(visible)]="deleteDialogVisible" [style]="{ width: '25rem' }">
                        <div class="delete-message">
                          <span class="p-text-secondary block mb-8">Are you sure you want to delete this client from your table?</span>
                        </div>
                          <div class="flex justify-end gap-2">
                              <p-button label="Cancel" severity="secondary" (click)="deleteDialogVisible = false" />
                              <p-button label="Delete" (click)=" onRowDelete(client.id)" />
                          </div>
                      </p-dialog>
                    </div>
                    
                </div>
            </td>
            </tr>
        </ng-template>
        
    </p-table>
</div>

}
