.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-inputtext {
    max-width: 135px;
}

.exercise-count-input {
    max-width: 80px;
}

.workout-td {
    text-align: center;
}