{
  "profiles": {
    "ClientDashboard_API_Tests": {
      "commandName": "Project",
      "environmentVariables": {
        "AUTH_TOKEN": "your-twilio-auth-token-for-testing",
        "ACCOUNT_SID": "your-twilio-account-sid-for-testing"
      }
    }
  }
}
