.header{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.password-reset-form-container {
  max-width: 350px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.password-field {
  margin-bottom: 0.5rem;
  width: 100%;
}

.password-field p-password {
  width: 100%;
  min-height: 3rem;
}

.button-container {
  display: flex;
  align-items: center; 
}

.submit-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3rem;
}

/* smaller screens */
@media (max-width: 768px) {
  .password-reset-form-container {
    max-width: 300px;
    padding: 1rem;
  }
  
  .button-container {
    flex-direction: column;
  }
  
  .submit-button {
    width: 100%;
  }
}
