
<div class="login-field">
      <p-iftalabel>
        <input pInputText id="email" [(ngModel)]="email" />
        <label>Email</label>
      </p-iftalabel>
    </div>
    <div class="login-field">
      <p-iftalabel>
        <input pInputText id="firstName" [(ngModel)]="firstName" />
        <label>First Name</label>
      </p-iftalabel>
    </div>
    <div class="login-field">
      <p-iftalabel>
        <input pInputText id="surname" [(ngModel)]="surname" />
        <label>Surname</label>
      </p-iftalabel>
    </div>
    <div class="login-field">
      <p-iftalabel>
          <p-password [(ngModel)]="password" toggleMask="true"/>
          <label>Password</label>
      </p-iftalabel>
      <p-button class="register-button" label="Register" severity="success" (click)="trainerRegister(email, firstName, surname, password)"/>
    </div>
